.footer{
    &__content{
        background: #dfdfdf;
        padding: 60px 0 80px;
        
    }
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__info{
        width: 540px;
    }
    &__info-title{
        color: $title;
        @extend %title-font;
        margin-bottom: 14px;
        line-height: 23px;
    }
    &__info-text{
        margin-bottom: 16px;
        max-width: 475px;
    }
    &__info-email{
        font-weight: 600;
        font-size: 14px;
        color: $title;
        margin-bottom: 22px;
        display: inline-block;
        padding-left: 30px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            background-image: url(../images/icons/envelope.svg);
            background-repeat: no-repeat;
            top: 8px;
            left: 0;
            width: 16px;
            height: 16px;
        }
    }
    &__form{
        display: flex;
    }
    &__form-input{
        padding: 6px 10px 6px 18px;
        border-radius: 21px;
        background-color: transparent;
        border: 1px solid rgba($color: $title, $alpha: 0.7);
        &::placeholder{
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            font-weight: 400;
            color: #a1a1a1;
        }
        width: 100%;
    }
    &__form-button{
        background-color: $title;
        border: none;
        color: #fffff0;
        border-radius: 21px;
        font-weight: 600;
        padding: 6px 12px;
        min-width: 160px;
        margin-left: 9px;
        cursor: pointer;
    }
    &__social, &__menu{
        width: 125px;
    }
    &__social{
        margin-right: auto;
        margin-left: 100px;
    }
    &__social-link{
        padding-left: 28px;
        position: relative;
        display: inline-block;
        &::before{
            content: '';
            position: absolute;
            
            background-repeat: no-repeat;
            top: 6px;
            left: 0;
            width: 18px;
            height: 16px;
        }
    }
    &__social-link--facebook::before{
        background-image: url(../images/icons/facebook.svg);
    }
    &__social-link--instagram::before{
        top: 7px;
        background-image: url(../images/icons/instagram.svg);
    }
    &__social-link--pinterest::before{
        background-image: url(../images/icons/Pinterest.svg);
    }
    &__social-link--whatsapp::before{
        background-image: url(../images/icons/whatsapp.svg);
    }
    &__social-link--youtube::before{
        background-image: url(../images/icons/youtube.svg);
        top: 8px;
    }
    &__social-link, &__menu-link{
        color: #707070;
    }
    &__social-item, &__menu-item{
        margin-bottom: 15px;
        font-size: 14px;
        font-weight: 600;

    }
    &__menu{
        &-list{
            padding: 0;
        }
        margin-right: 60px;
    }
    &__copyright{
        background-color: $title;
        color: #a1a1a1;
        text-align: center;
        padding: 42px 0 41px;
    }
}
//2:13:00