.header{
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 120px;
    }
    &__btn{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}
.logo{
    margin: 0 auto;
}
.menu{
    padding-left: 35px;
    padding-right: 15px;
    &__list{
        display: flex;

    }
    &__list-item{
        padding-right: 45px;
        padding-left: 35px;
    }
    &__list-link{
        @extend %title-font;
        color: rgba(54,56,56,0.9033);
        line-height: 22px;
    }
    &__list-link--active{
        padding-bottom: 4px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 2px;
            border-radius: 1px;
            background-color: rgba($color: $title, $alpha: .7);
        }
    }
}
.rightside-menu{
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    max-width: 694px;
    background-color: #fff;
    width: 100%;
    padding-top: 40px;
    box-shadow: -2px 3px 17px 0 #00000044;
    transition: all .2s ease-out;
    z-index: 5;
    &.rightside-menu--close{
        transform: translateX(500%);
    }

    &__close{
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
        margin-left: 50px;
        margin-bottom: 60px;
    }
    &__content{
        text-align: center;
        max-width: 485px;
        margin: 0 auto;

    }
    &__logo{
        display: inline-block;
        margin-bottom: 40px;
    }
    &__title{
        color: $title;
        @extend %title-font;
        font-size: 36px;
        line-height: 51px;
        margin-bottom: 17px;
        position: relative;
        padding-bottom: 17px;
        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            max-width: 252px;
            margin: 0 auto;
            height: 1px;
            background: #6d7278;
        }
    }
    &__text{
        margin-bottom: 75px;
    }
    &__img{
        max-width: 485px;
    }
}
.breadcrumbs{
    background: rgba($color: #dfdfdf, $alpha: .5);
    padding: 13px 14px;
    &__list{
        display: flex;
    }
    &__item:not(:last-child::after){
        content: '/';
        margin-left: -4px;
        margin-right: 4px;
    }
    &__link{
        color: $default;
        font-size: 14px;

    }
}