.about{
    &__prev{
        background-image: url(../images/about/about-bg.jpg);
        background-position: top center;
        background-size: cover;
        text-align: center;
        padding: 160px 0;

    }
    &__prev-title{
        color: $title;
        @extend %title-font;
        font-size: 60px;
        line-height: 80px;
        // 6:27:40
    }
}