.about{
    &__prev{
        background-image: url(../images/about/about-bg.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        text-align: center;
        padding: 160px 0;
        margin-top: -53px;
    }
    &__prev-title{
        color: $title;
        @extend %title-font;
        font-size: 60px;
        line-height: 80px;
        // 6:27:40
    }
    &__content{
        padding: 140px 40px;
    }
    &__title{
        color: $title;
        @extend %title-font;
        font-size: 36px;
        line-height: 60px;
        padding-bottom: 22px;
        margin-bottom: 22px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 200px;
            height: 1px;
            background: #6d7278;
        }
    }
    &__text{
        padding-left: 284px;
        p{
            margin-bottom: 30px;
        }
    }
    &__popup{
        background-image: url(../images/about/video-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        padding: 167px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.inspiration{
    padding-top: 100px;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url(../images/inspiration/bg.jpg);
        height: 362px;
        z-index: -1;
    }
    &__inner{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__images{
        margin-right: 78px;
        margin-left: -230px;
    }
    &__title{
        font-size: 36px;
        line-height: 60px;
        color: $title;
        @extend %title-font;
        padding-bottom: 16px;
        margin-bottom: 24px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 200px;
            height: 1px;
            background: #6d7278;
        }
    }
    &__text{
        margin-bottom: 30px;

    }
    &__content{
        max-width: 825px;

    }
    &__list{
        padding: 0;
    }
    &__item{
        color: $title;
        @extend %title-font;
        line-height: 23px;
        margin-bottom: 33px;
    }
    &__item-content{
        display: flex;
        justify-content: space-between;
        padding-bottom: 14px;
        border-bottom: 2px solid #fff;
        border-radius: 4px;
    }
    &__line{
        height: 2px;
        border-radius: 4px;
        background-color: $title;
        margin-top: -2px;
    }
}
.partners{
    padding: 16px 0 60px;
    &__items{
        display: grid;
        gap: 68px;
        grid-template-columns: repeat(5, 1fr);
    }
    &__item{
        margin: 0 auto;
    }
}