<aside class="aside">
    <form class="aside__search">
        <input type="text" class="aside__search-input" placeholder="Search">
        <button class="aside__search-btn" type="submit">
            <img src="images/icons/search.svg" alt="search">
        </button>
    </form>
    <div class="blog__category">
        <h6 class="blog__category-title">
            Categories
        </h6>
        <ul class="blog__category-list">
            <li class="blog__category-item">
                <a href="#" class="blog__category-link">
                    Dining room (1)
                </a>
            </li>
            <li class="blog__category-item">
                <a href="#" class="blog__category-link">
                    Office furniture (12)
                </a>
            </li>
            <li class="blog__category-item">
                <a href="#" class="blog__category-link">
                    Simple interiror design (2)
                </a>
            </li>
            <li class="blog__category-item">
                <a href="#" class="blog__category-link">
                    Design (4)
                </a>
            </li>
            <li class="blog__category-item">
                <a href="#" class="blog__category-link">
                    Bedroom Furniture (1)
                </a>
            </li>
        </ul>
    </div>
    <div class="recent-posts">
        <h6 class="recent-posts__title">
            Recent Posts
        </h6>
        <ul class="recent-posts__list">
            <li class="recent-posts__item">
                <a href="#" class="recent-posts__item-title">
                    Cred selfies edison bulb four dollar toast humblebrag
                </a>
                <span class="recent-posts__date">August 10, 2020 </span>|
                <a href="" class="recent-posts__author"> by Ann Summersmmers</a>
            </li>
            <li class="recent-posts__item">
                <a href="#" class="recent-posts__item-title">
                    Semiotics fixie four dollar toast, next level woke scenester direct trade photo booth
                </a>
                <span class="recent-posts__date">September 30 ,2020 </span>|
                <a href="" class="recent-posts__author">by Ann Summers</a>
            </li>
            <li class="recent-posts__item">
                <a href="#" class="recent-posts__item-title">
                    Cred selfies edison bulb four dollar toast humblebrag
                </a>
                <span class="recent-posts__date">May 2, 2020 </span>|
                <a href="" class="recent-posts__author">by Ann Summers</a>
            </li>
        </ul>
    </div>
    <div class="blog__tags">
        <h6 class="blog__tags-title">
            Tags
        </h6>
        <a href="#" class="blog__tags-link">Dining room futniture</a>
        <a href="#" class="blog__tags-link">Chair</a>
        <a href="#" class="blog__tags-link">Table</a>
        <a href="#" class="blog__tags-link">Bedroom</a>
        <a href="#" class="blog__tags-link">Office furniture</a>
        
    </div>
    <ul class="blog__social">
        <li class="blog__social-item">
            <a href="#" class="blog__social-link">
                <img src="images/icons/facebook.svg" alt="social" class="blog__social-img">
            </a></li>
        <li class="blog__social-item">
            <a href="#" class="blog__social-link">
                <img src="images/icons/instagram.svg" alt="social" class="contact__social-img">
            </a></li>
        <li class="blog__social-item">
            <a href="#" class="blog__social-link">
                <img src="images/icons/Pinterest.svg" alt="social" class="blog__social-img">
            </a></li>
        <li class="blog__social-item">
            <a href="#" class="blog__social-link">
                <img src="images/icons/whatsapp.svg" alt="social" class="blog__social-img">
            </a></li>
        <li class="blog__social-item">
            <a href="#" class="blog__social-link">
                <img src="images/icons/youtube.svg" alt="social" class="blog__social-img">
            </a></li>
    </ul>
</aside>