
    <h1>Hello footer</h1>
    <div class="wrapper">
        <footer class="footer">
            <div class="footer__content">
                <div class="container">
                    <div class="footer__inner">
                        <div class="footer__info">
                            <h6 class="footer__info-title">
                                Contact Us
                            </h6>
                            <p class="footer__info-text">Keffiyeh poutine etsy, paleo cray put a bird on it microdosing schlitz you probably occupy</p>
                            <a href="mailto:ouremailaddress@email.com" class="footer__info-email">ouremailaddress@email.com</a>
                            <form class="footer__form">
                                <input type="email" class="footer__form-input">
                                <button class="footer__form-btn" type="submit">
                                    <!-- 1:02:00 -->
                                </button>
                            </form>
                        </div>
                        <ul class="footer__social"></ul>
                        <nav class="footer__menu">
                            <ul class="footer__menu-list">

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="footer__copyright">
                674 Gonzales Drive.   Washington, PA 15301
            </div>
        </footer>
    </div>
    <script src="js/main.js"></script>
</body>
</html>