
    <!-- <h1>Hello footer</h1> -->
    
        <footer class="footer">
            <div class="footer__content">
                <div class="container">
                    <div class="footer__inner">
                        <div class="footer__info">
                            <h6 class="footer__info-title">
                                Contact Us
                            </h6>
                            <p class="footer__info-text">Keffiyeh poutine etsy, paleo cray put a bird on it microdosing schlitz you probably occupy</p>
                            <a href="mailto:ouremailaddress@email.com" class="footer__info-email">ouremailaddress@email.com</a>
                            <form class="footer__form">
                                <input type="email" class="footer__form-input" placeholder="Subscribe by email">
                                <button class="footer__form-button" type="submit">
                                    Send
                                </button>
                            </form>
                        </div>
                        <ul class="footer__social">
                            <li class="footer__social-item"><a href="#" class="footer__social-link">
                                Facebook
                            </a></li>
                            <li class="footer__social-item"><a href="#" class="footer__social-link">
                                Instagram
                            </a></li>
                            <li class="footer__social-item"><a href="#" class="footer__social-link">
                                Pinterest
                            </a></li>
                            <li class="footer__social-item"><a href="#" class="footer__social-link">
                                WhatsApp
                            </a></li>
                            <li class="footer__social-item"><a href="#" class="footer__social-link">
                                Youtube
                            </a></li>
                        </ul>
                        <nav class="footer__menu">
                            <ul class="footer__menu-list">
                                <li class="footer__menu-item"><a href="#" class="footer__menu-link">Delivery</a></li>
                                <li class="footer__menu-item"><a href="#" class="footer__menu-link">FAQ</a></li>
                                <li class="footer__menu-item"><a href="#" class="footer__menu-link">Help</a></li>
                                <li class="footer__menu-item"><a href="#" class="footer__menu-link">More About Us</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="footer__copyright">
                674 Gonzales Drive.   Washington, PA 15301
            </div>
        </footer>
    </div>
    <script src="js/main.js"></script>
</body>
</html>