<div class="gallery">
    <div class="container-fluid">
        <div class="gallery__buttons">
            <button class="gallery__btn" data-filter = ".bedroom">Bedroom furniture</button>
            <button class="gallery__btn" data-filter = ".living">Living room furniture</button>
            <button class="gallery__btn" data-filter = ".office">Office furniture</button>
            <button class="gallery__btn" data-filter = ".dining">Dining room futniture</button>
            <button class="gallery__btn" data-filter = ".chair">Chair</button>
        </div>
        <div class="gallery__inner">
            <div class="gallery__items mix bedroom">
                <a href="#" class="gallery__item">
                    <img src="images/gallery/1.jpg" alt="images">
                </a>
                <a href="#" class="gallery__item">
                    <img src="images/gallery/2.jpg" alt="images">
                </a>
                <a href="#" class="gallery__item">
                    <img src="images/gallery/3.jpg" alt="images">
                </a>
                <a href="#" class="gallery__item">
                    <img src="images/gallery/4.jpg" alt="images">
                </a>
                <a href="#" class="gallery__item">
                    <img src="images/gallery/5.jpg" alt="images">
                </a>
            </div>

            <div class="gallery__items mix living">
                <a href="#" class="gallery__item">
                    <img src="images/gallery/1.jpg" alt="images">
                </a>
                <a href="#" class="gallery__item">
                    <img src="images/gallery/2.jpg" alt="images">
                </a>
                <a href="#" class="gallery__item">
                    <img src="images/gallery/3.jpg" alt="images">
                </a>
                <a href="#" class="gallery__item">
                    <img src="images/gallery/4.jpg" alt="images">
                </a>
                <a href="#" class="gallery__item">
                    <img src="images/gallery/5.jpg" alt="images">
                </a>
            </div>

            <div class="gallery__items mix office">
                <a href="#" class="gallery__item">
                    <img src="images/gallery/1.jpg" alt="images">
                </a>
                <a href="#" class="gallery__item">
                    <img src="images/gallery/2.jpg" alt="images">
                </a>
                <a href="#" class="gallery__item">
                    <img src="images/gallery/3.jpg" alt="images">
                </a>
                <a href="#" class="gallery__item">
                    <img src="images/gallery/4.jpg" alt="images">
                </a>
                <a href="#" class="gallery__item">
                    <img src="images/gallery/5.jpg" alt="images">
                </a>
            </div>

            <div class="gallery__items mix dining">
                <a href="#" class="gallery__item">
                    <img src="images/gallery/1.jpg" alt="images">
                </a>
                <a href="#" class="gallery__item">
                    <img src="images/gallery/2.jpg" alt="images">
                </a>
                <a href="#" class="gallery__item">
                    <img src="images/gallery/3.jpg" alt="images">
                </a>
                <a href="#" class="gallery__item">
                    <img src="images/gallery/4.jpg" alt="images">
                </a>
                <a href="#" class="gallery__item">
                    <img src="images/gallery/5.jpg" alt="images">
                </a>
            </div>

            <div class="gallery__items mix chair">
                <a href="#" class="gallery__item">
                    <img src="images/gallery/1.jpg" alt="images">
                </a>
                <a href="#" class="gallery__item">
                    <img src="images/gallery/2.jpg" alt="images">
                </a>
                <a href="#" class="gallery__item">
                    <img src="images/gallery/3.jpg" alt="images">
                </a>
                <a href="#" class="gallery__item">
                    <img src="images/gallery/4.jpg" alt="images">
                </a>
                <a href="#" class="gallery__item">
                    <img src="images/gallery/5.jpg" alt="images">
                </a>
            </div>
        </div>
    </div>
</div>