<main>
    <section class="top">

            <div class="top__inner">
                <div class="top__slider">
                    <div class="top__slider-item">
                        <img src="images/top_slider/chair.png" alt="" class="top__slider-img">
                        <div class="top__slider-info">
                            <h2 class="top__slider-title">
                                Furniture 
                                collection
                            </h2>
                            <p class="top__slider-text">
                                Deep v you probably haven't heard of them banh mi synth actually affogato. Aesthetic lyft ethical drinking vinegar austint
                            </p>
                        </div>
                    </div>
                    <div class="top__slider-item">
                        <img src="images/top_slider/chair.png" alt="" class="top__slider-img">
                        <div class="top__slider-info">
                            <h2 class="top__slider-title">
                                Furniture 
                                collection
                            </h2>
                            <p class="top__slider-text">
                                Deep v you probably haven't heard of them banh mi synth actually affogato. Aesthetic lyft ethical drinking vinegar austint
                            </p>
                        </div>
                    </div>
                    <div class="top__slider-item">
                        <img src="images/top_slider/chair.png" alt="" class="top__slider-img">
                        <div class="top__slider-info">
                            <h2 class="top__slider-title">
                                Furniture 
                                collection
                            </h2>
                            <p class="top__slider-text">
                                Deep v you probably haven't heard of them banh mi synth actually affogato. Aesthetic lyft ethical drinking vinegar austint
                            </p>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <section class="new-collection">
        <div class="container-fluid">
            <h3 class="new-collection__title">Furniture new collection</h3>
            <p class="new-collection__text">
                Deep v you probably haven't heard of them banh mi synth actually affogato. Aesthetic lyft ethical drinking vinegar austint
            </p>
            <div class="collection">
                <div class="collection__item">
                    <img src="" alt="" class="collection__images">
                    <div class="collection__info">
                        <h6 class="collection__info-title">Truffaut literally trust</h6>
                        <p class="collection__info-text">Living room furntiture | Chair</p>
                        <!-- 3:47:00 -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>